<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ex-2 3507(WITH EJS)Simple Calculator</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h1>Simple Calculator</h1>
    <form action="/calculate" method="post">
        <label>First Number:</label>
        <input type="number" name="num1" required><br><br>

        <label>Operation:</label>
        <select name="operation" required>
            <option value="add">+</option>
            <option value="subtract">-</option>
            <option value="multiply">*</option>
            <option value="divide">/</option>
        </select><br><br>

        <label>Second Number:</label>
        <input type="number" name="num2" required><br><br>

        <button type="submit">Calculate</button>
    </form>
</body>
</html>
